[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
cryptography = "==2.8"
pandas = "==0.25.3"
requests = "*"
fake-useragent = "*"

[requires]
python_version = "3.7"
